<table>
    <caption><strong>Desarrollo de Software 1er Año</strong></caption>
    <caption>Primer cuatrimestre</caption>
    <tr>
        <th>Horario</th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miercoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
    </tr>
    <tr>
        <td>18:15-19:00</td>
        <td><a href="https://meet.google.com/fmw-sysd-zkh">DS 1</a></td>
        <td><a href=" https://meet.google.com/gwn-wjyc-cyx">IT 1</a></td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
    </tr>
    <tr>
        <td>19:00-19:45</td>
        <td><a href="https://meet.google.com/fmw-sysd-zkh">DS 1</a></td>
        <td><a href=" https://meet.google.com/gwn-wjyc-cyx">IT 1</a></td>
        <td><a href="https://meet.google.com/fmw-sysd-zkh">DS 1</a></td>
        <td>-</td>
        <td>LAB 1</td>
    </tr>
    <tr>
        <td>19:45-20:30</td>
        <td>IP</td>
        <td><a href=" https://meet.google.com/gwn-wjyc-cyx">IT 1</a></td>
        <td><a href="https://meet.google.com/fmw-sysd-zkh">DS 1</a></td>
        <td>IP</td>
        <td>LAB 1</td>
    </tr>
    <tr>
        <td>20:30-20:45</td>
        <td colspan="5" ><strong>- R E C R E O -</strong></td>
    </tr>
    <tr>
        <td>20:45-21:30</td>
        <td>IP</td>
        <td><a href=" https://meet.google.com/bkv-afzn-xhr">MAT</a></td>
        <td>LAB 1</td>
        <td>IP</td>
        <td><a href=" https://meet.google.com/bkv-afzn-xhr">MAT</a></td>
    </tr>
    <tr>
        <td>21:30-22:15</td>
        <td>PP</td>
        <td><a href=" https://meet.google.com/bkv-afzn-xhr">MAT</a></td>
        <td>LAB 1</td>
        <td>PP</td>
        <td><a href=" https://meet.google.com/bkv-afzn-xhr">MAT</a></td>
    </tr>
</table>
